<div class="side-bar">
  <h3>蒙面股王后台管理系统</h3>
  <div class="${data.selected === 'mengliaoguanli' ? 'adda' : ''}"><a href="/content/mengliao/list">猛料管理</a></div>
  <div class="${data.selected === 'jubaoguanli' ? 'adda' : ''}"><a href="/content/jubao/list">举报管理</a></div>
</div>
