<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/images/new.ico"/>
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/guwang.css">
  <!--STYLES END-->
  <!--SCRIPTS-->
  <script src="/js/dependencies/jquery-1.11.0.js"></script>
  <script src="/js/guwang_houtai.js"></script>
  <!--SCRIPTS END-->
  <title>蒙面股王后台管理系统</title>
</head>
<body>
<div class="mengmianguwang">
  <include(data.sideBar) selected='${data.selected}' />
  <include('./header.marko') module='${data.module}' />
  <section class="section">
    <div class="mengliaoguanli">
      <div class="content">
        <div class="mengliao">
          <div class="handle dz_fanhui">
            <ul>
              <li></li>
              <li><a href="javascript:history.back(-1)">返回</a></li>
            </ul>
          </div>
          <div class="pinglun_info">
            <h3>点赞列表<span>(${data.nLike})</span></h3>
            <div class="pl_xian"></div>
            <div class="dianzan_list">
              <div for(l in data.likes) class="dianzan_gs">
                <img src="${l.user.avatar}" alt=""/>
                <p>${l.user.name}</p>
              </div>
            </div>
          </div>

          <div class="tiaozhuan">
          <var id=data.id page=parseInt(data.page) nPage=data.nPage/>
            <div class="page-yeshu">
              <a href="/content/like/list?id=${id}"><span>首页</span></a>
              <a href="${page === 1 ? '#' : ('/content/like/list?id=${id}&page=' + (page - 1))}">
                <span>前一页</span>
              </a>
              <strong class="at_yeshu">${page}</strong>
              <strong>${nPage}</strong>
              <a href="${page === nPage ? '#' : ('/content/like/list?id=${id}&page=' + (parseInt(page) + 1))}">
                <span>后一页</span>
              </a>
              <a href="${'/content/like/list?id=${id}&page=' + nPage}"><span>尾页</span></a>
            </div>
            <div class="ystz">
              <form action="#">
                <input id="dangqianye" type="number" class="tiaozhuanyeshu"
                       value="${page}" min="1" max="${nPage}"/>
                <span id="zongyeshu"></span>
              </form>
              <span class="tiaozhuan-btn"
                    onclick="var page = document.getElementById('dangqianye').value; if (page) window.location = '/content/like/list?id=${id}&page=' + page">跳转</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <footer class="footer">
    Copyright © 2016 蒙面股王
  </footer>
</div>
</body>
</html>
