<div class="fixed">
  <iframe id="iframe" src="/html/top/header.html" scrolling="no" width="100%"
          height="60" style="border:0" ;></iframe>
  <script>
    $('#iframe').load(function () {
      var ul = $('#iframe').contents().find("#ul li");
      ul.eq(${data.module}).attr("class", "add");
    });
  </script>
</div>
