<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/guwang.css">
    <!--STYLES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-1.11.0.js"></script>
    <!--SCRIPTS END-->
		<title>蒙面股王后台管理系统</title>
	</head>
	<body>
		<div class="mengmianguwang">
			<div class="fixed">
				<iframe id="iframe" src="/html/top/header.html" scrolling="no" width="100%" style="border:0" ;></iframe>
				<script>
					$('#iframe').load(function() {
						var ul = $('#iframe').contents().find("#ul li");
						ul.eq(0).attr("class", "add");
					});
				</script>
				<div class="xitong">
					<h2>蒙面股王后台管理系统--<span id="add-text">内容设置</span></h2>
				</div>
			</div>
			<section class="section">
			 <div class="mengliaoguanli">
				 <include(data.sideBar) selected='${data.selected}' />
		 		 <div class="content">
		 		 	<div class="mengliao">
		 		 	  <var m=data.mengliao/>
		 		 		<div class="handle">
		 		 			<span class="public"> <a href="javascript:history.back(-1)">返回</a></span>
		 		 			<span class="pinglun"><a href="pinglun_xiangqing.html">评论<strong>(${m.nComment})</strong></a></span>
		 		 			<span class="pinglun"><a href="dianzan.html">点赞<strong>(${m.nLike})</strong></a></span>
              <a href='/content/mengliao/delete?id=${m.id}'><span class="shanchu">删除</span></a>
		 		 		</div>
		 		 		<div class="fabuzhe_info">
		 		 			<h3>发布者信息</h3>
		 		 			<div class="xian"></div>
		 		 			<div class="fabuzhe_info  clear">
		 		 			  <div class="fabuzhe_name">
		 		 			  	 <p>昵称：<span>${m.author.name}</span></p>
		 		 			  	 <!-- TODO: 关联账户？ -->
		 		 			     <p>关联账户：<span>名字很长也可以显示</span></p>
		 		 			  </div>
		 		 			  <div class="fabuzhe_fans">
		 		 			  	<p>猛料：<span>${m.nMengliao}</span></p>
		 		 			  	<p>粉丝：<span>${m.nFollower}</span></p>
		 		 			  </div>
		 		 			  <h3>猛料详情</h3>
		 		 			   <div class="xian"></div>
		 		 			   <div class="time">
		 		 			   	 发布时间：<span>${m.time.toDateString()}</span>
		 		 			   </div>
		 		 			  <div class="mengliaoxiangqing_info">
		 		 			    <for(c in m.contents)>
                    <span if(c.type === '1')>
                      <img src="${c.content}" alt="" />
                    </span>
                    <p else>
                      ${c.content}
                    </p>
		 		 			    </for>
		 		 			  </div>
		 		 			  <div class="friendlink">
		 		 			  	 <h4>相关链接</h4>
		 		 			  	 <!-- TODO: 相关连接？-->
		 		 			  	 <a href="#">为什么光头跑步速度更快？</a>
		 		 			  	 <a href="#">谁愿意来拯救废墟中的湖人？</a>
		 		 			  </div>

		 		 			</div>
		 		 		</div>
		 		 	</div>

		 		 </div>
			 </div>
			</section>
			<footer class="footer" >
				 Copyright © 2016  蒙面股王
		  </footer>
		</div>
	</body>
</html>
