<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/guwang.css">
    <!--STYLES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/jquery-1.11.0.js"></script>
    <script src="/js/guwang_houtai.js"></script>
    <!--SCRIPTS END-->
		<title>蒙面股王后台管理系统</title>
	</head>
	<body>
		<div class="mengmianguwang">
			<include('./header.marko') module='${data.module}' />
			<section class="section">
			 <div class="mengliaoguanli">
		 		 <include(data.sideBar) selected='${data.selected}' />
		 		 <div class="content">
		 		 	<div class="mengliao">
		 		 	  <var r=data.role/>
		 		 		<div class="handle">
		 		 			<span class="public"> <a href="javascript:history.back(-1)">返回</a></span>
		 		 			<span class="repeal pinglun">
		 		 			  <a href="#" onclick="if (window.assignTo) window.location = '/user/confirmAssign?role=${r.id}&user=' + window.assignTo">确认关联</a>
		 		 			</span>
		 		 		</div>
		 		 		<div class="fabuzhe_info">
		 		 			<div class="xiugai">
		 		 				<div class="xiugai_nicheng">昵称:<span>${r.name}</span></div>
		 		 				<div class="xiugai_guanlian">当前关联：<span>${r.user ? r.user.name : '无'}</span></div>
		 		 			    <div class="xinzeng clear">新增关联：<span>无</span></div>
		 		 			</div>
		 		 			<div class="soso">
		 		 			  <form action="/user/assign">
		 		 			    <input type="text" name="id" value="${r.id}" style="display: none"/>
                  <input type="search" class="sear" name="search" value="${data.search}"/>
                  <input type="submit" class="soso_ok" value="确定"/>
		 		 			  </form>
		 		 			</div>
		 		 		  <div class="soso_nr">
		 		 			<div class="soso_info">
		 		 				<ul class="soso_nav">
		 		 					<li class="nikname">昵称</li>
		 		 					<li>来源</li>
		 		 					<li>openid/手机</li>
		 		 					<li>unionid</li>
		 		 					<li>性别</li>
		 		 					<li>地区</li>
		 		 					<li>选中</li>
		 		 				</ul>
		 		 				<ul for(u in data.users) class="soso_list">
		 		 					<li class="nikname">${u.name}</li>
		 		 					<li>${u.qq ? 'QQ' : u.wechat ? '微信' : '手机'}</li>
		 		 					<li>${u.qq || u.wechat || u.mobile}</li>
		 		 					<!-- TODO: 位置？ -->
		 		 					<li>无</li>
		 		 					<li>${u.gender}</li>
		 		 					<!-- TODO: unionid? -->
		 		 					<li>无</li>
		 		 					<li><input type="radio" name="radio" onclick="window.assignTo=${u.id}"/></li>
		 		 				</ul>
		 		 			</div>
		 		 			    <div class="page">
		 		 			    	<span class="publics">上一页</span>
		 		 			    	<span class="publics">下一页</span>
		 		 			    </div>
		 		 		  </div>
		 		 		</div>
		 		 	</div>

		 		 </div>
			 </div>
			</section>
			<footer class="footer" >
				 Copyright © 2016  蒙面股王
		  </footer>
		</div>
	</body>
</html>
