<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/images/new.ico"/>
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/guwang.css">
  <!--STYLES END-->
  <!--SCRIPTS-->
  <script src="/js/dependencies/jquery-1.11.0.js"></script>
  <script src="/js/guwang_houtai.js"></script>
  <!--SCRIPTS END-->
  <title>蒙面股王后台管理系统</title>
</head>
<body>
<div class="mengmianguwang">
  <include(data.sideBar) selected='${data.selected}' />
  <include('./header.marko') module='${data.module}' />
  <section class="section">
    <div class="mengliaoguanli">
      <div class="content">
        <div class="mengliao">
          <var restricted=data.restricted gender=data.gender source=data.source search=data.search/>
          <div class="select">
            <div>
              <span>状态</span>
              <select selected="1" id="restricted" name="" onchange="window.location.href = '/user/list?restricted=' + $('#restricted').val() + '&gender=${gender}&source=${source}'">
                <option value="" selected="${restricted === '' ? 'selected' : ''}">全部</option>
                <option value="1" selected="${restricted === '1' ? 'selected' : ''}">正常</option>
                <option value="0" selected="${restricted === '0' ? 'selected' : ''}">禁言</option>
              </select>
            </div>
            <div>
              <span>性别</span>
              <select id="gender" name="" onchange="window.location.href = '/user/list?restricted=${restricted}&gender=' + $('#gender').val() + '&source=${source}'">
                <option value="" selected="${gender === '' ? 'selected' : ''}">全部</option>
                <option value="男" selected="${gender === '男' ? 'selected' : ''}">男</option>
                <option value="女" selected="${gender === '女' ? 'selected' : ''}">女</option>
                <option value="保密" selected="${gender === '保密' ? 'selected' : ''}">保密</option>
              </select>
            </div>
            <!--div>
              <span>来源</span>
              <select id="source" name="" onchange="window.location.href = '/user/list?restricted=${restricted}&gender=${gender}&source=' + $('#source').val()">
                <option value="" selected="${source === '' ? 'selected' : ''}">全部</option>
                <option value="wechat" selected="${source === 'wechat' ? 'selected' : ''}">微信</option>
                <option value="qq" selected="${source === 'qq' ? 'selected' : ''}">QQ</option>
                <option value="mobile" selected="${source === 'mobile' ? 'selected' : ''}">手机</option>
              </select>
            </div-->
          </div>
          <div class="search">
            <div class="sousuo">
              <form action="/user/list">
                <input name="type" type="text" value="normal" style="display: none"/>
                <input name="search" type="search" value="${data.search}" class="text" placeholder="输入昵称、关键词等"/>
                <input type="submit" class="buttom" value="搜索" style="margin-left: 3px"/>
              </form>
            </div>
          </div>
          <div class="mengliao_info clear">
            <div class="mengliao_ul">
              <ul class="putongyonghu_nav">
                <li class="nickname">昵称</li>
                <li>来源</li>
                <li>opendid</li>
                <li>unionid</li>
                <li>性别</li>
                <li>地区</li>
                <li>状态</li>
                <li>操作</li>
              </ul>
              <ul for(u in data.users) class="putongyonghu_list odd">
                <a href="/user/detail?id=${u.id}">
                  <li class="nickname">${u.name ? u.name : '无'}</li>
                  <li>${u.qq ? 'QQ' : u.wechat ? '微信' : '手机'}</li>
                  <li>${u.qq || u.wechat || u.mobile}</li>
                  <!-- TODO: unionid? -->
                  <li>无</li>
                  <li>${u.gender}</li>
                  <!-- TODO: 位置？ -->
                  <li>无</li>
                  <li>${u.restricted === '0' ? '禁言' : '正常'}</li>
                  <li>
                    <span><a class="xiangqing" href="/user/detail?id=${u.id}">详情</a></span>
                    <a href="/user/restrict?id=${u.id}&restricted=${u.restricted === '0' ? '1' : '0'}">
                      <span class="banned publics" style="margin-left: 4px">${u.restricted === '0' ? '解除' : '禁言'}</span>
                    </a>
                  </li>
                </a>
              </ul>
            </div>
            <div class="tiaozhuan">
              <var page=parseInt(data.page) nPage=data.nPage/>
                <div class="page-yeshu">
                  <a href="/user/list?type=normal&search=${search}"><span>首页</span></a>
                  <a href="${page === 1 ? '#' : ('/user/list?type=normal&search=${search}&page=' + (page - 1))}">
                    <span>前一页</span>
                  </a>
                  <strong class="at_yeshu">${page}</strong>
                  <strong>${nPage}</strong>
                  <a href="${page === nPage ? '#' : ('/user/list?type=normal&search=${search}&page=' + (parseInt(page) + 1))}">
                    <span>后一页</span>
                  </a>
                  <a href="${'/user/list?type=normal&search=${search}&page=' + nPage}"><span>尾页</span></a>
                </div>
                <div class="ystz">
                  <form action="#">
                    <input id="dangqianye" type="number" class="tiaozhuanyeshu"
                           value="${page}" min="1" max="${nPage}"/>
                    <span id="zongyeshu"></span>
                  </form>
                  <span class="tiaozhuan-btn"
                        onclick="var page = document.getElementById('dangqianye').value; if (page) window.location = '/user/list?type=normal&search=${search}&page=' + page">跳转</span>
                </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
  <footer class="footer">
    Copyright © 2016 蒙面股王
  </footer>
</div>
</body>
</html>
