<div class="side-bar">
  <h3>蒙面股王后台管理系统</h3>
  <div class="${data.selected === 'push' ? 'adda' : ''}"><a href="/settings/push">推送消息设置</a></div>
  <div class="${data.selected === 'password' ? 'adda' : ''}"><a href="/settings/password">修改密码</a></div>
</div>
