<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/images/new.ico"/>
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/guwang.css">
  <!--STYLES END-->
  <!--SCRIPTS-->
  <script src="/js/dependencies/jquery-1.11.0.js"></script>
  <script src="/js/guwang_houtai.js"></script>
  <!--SCRIPTS END-->
  <title>蒙面股王后台管理系统</title>
</head>
<body>
<div class="mengmianguwang">
  <include(data.sideBar) selected='${data.selected}' />
  <include('./header.marko') module='${data.module}' />
  <section class="section">
    <div class="mengliaoguanli">
      <div class="content">
        <div class="mengliao">
          <div class="handle">
            <ul>
              <li></li>
              <li><a href="zidingyilishi.html">自定义推送</a></li>
              <li><a href="zidingyilishi.html">查看自定义推送历史</a></li>
              <li><a href="javascript:history.back(-1)">返回</a></li>
            </ul>
          </div>
          <div class="jy">
            <form action="">
              <span>禁言消息提醒</span>
              <input id="restrict-message" type="text" class="texts"/>
              <input id="modify-btn" type="button" value="提交" class="tijiao"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    Copyright © 2016 蒙面股王
  </footer>
</div>
<script>
  $('#modify-btn').click(function() {
    if ($('#restrict-message').val() === '') alert("禁言消息不能为空")
    else $.post('/settings/modifyRestrictMessage', {
      message: $('#restrict-message').val()
    }).done(function(data) {
      if (data === '0') alert('修改失败')
      else alert('修改成功')
    })
  })
</script>
</body>
</html>
