<div class="side-bar">
  <h3>蒙面股王后台管理系统</h3>
  <div class="${data.selected === 'putongyonghu' ? 'adda' : ''}"><a href="/user/list?type=normal">普通用户</a></div>
  <div class="${data.selected === 'pukepaiyonghu' ? 'adda' : ''}"><a href="/user/list?type=card">扑克牌用户</a></div>
</div>
