<div class="side-bar">
  <div><a href="/user/list?type=normal" style="${data.selected === 'putongyonghu' ? 'color:#333;' : ''}">普通用户</a></div>
  <div><a href="/user/list?type=card"  style="${data.selected === 'pukepaiyonghu' ? 'color:#333;' : ''}">扑克牌用户</a></div>
</div>
