@charset "utf-8";

body {
  background: #ededed;
  font-family: arial, "微软雅黑";
}

/*清楚默认样式*/
a {
  text-decoration: none;
  color: #000;
}

/*清楚浮动*/
.clear {
  zoom: 1;
}

.clear {
  content: "
  display: block;
  clear: both;
}

/*登陆页面*/
.denglu-info {
  width: 100%;
  min-width: 1280px;
}

.denglu-info {
  width: 40%;
  margin: 0 auto;
  position: relative;
}

.denglu-logo img {
  width: 300px;
  height: 300px;
}

.denglu-logo {
  float: Left;
  margin-left: 80px;
}

.xian_s {
  float: left;
  height: 160px;
  width: 2px;
  margin-left: 80px;
  margin-right: 0px;
  margin-top: 90px;
  background: #ededed;
}

.denglu_text {
  float: Left;
  width: 400px;
}

.denglu-bt {
  width: 100%;
  text-align: center;
  color: #424a49;
  font-size: 22px;
  font-weight: bold;
}

.denglu_cen {
  position: relative;
}

.denglu-page {
  height: 340px;
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-top: 13%;
  padding-top: 80px;
  padding-bottom: 80px;
  -moz-box-shadow: 1px 1px 8px #333333;
  -webkit-box-shadow: 1px 1px 8px #333333;
  box-shadow: 1px 1px 8px #333333;
  position: relative;
}

.user {
  padding-top: 40px;
}

.user-name {
  padding-left: 5px;
  height: 35px;
  width: 280px;
  color: #5E5E5E;
  font-size: 14px;
  font-weight: bold;
  margin-left: 19px;
  line-height: 30px;
  border: 1px solid #c5c5c5;
}

.yanzhengma {
  display: inline-block;
  position: relative;
  margin-left: 50px;
}

.yanzhengma img {
  position: absolute;
  top: -20px;
  height: 35px;
  width: 70px;
}

.yz {
  width: 100px;
  margin-left: 40px;
}

.submit {
  height: 40px;
  width: 290px;
  border: none;
  margin-top: 35px;
  margin-left: 20px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  font-family: "微软雅黑";
  font-weight: bold;
  letter-spacing: 2px;
  background: #454c4c;
}

.submit:hover {
  color: #EEEEEE;
}

.firm {
  font-size: 18px;
  font-weight: bold;
}

/*模块公共部分*/
.conter {
  width: 100%;
  height: 60px;
  background: #fff;
}

.nav {
  width: 100%;
  height: 60px;
  background: #fff;
}

.nav-ul {
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
}

.nav-ul li {
  float: left;
  margin-left: 50px;
  height: 57px;
}

.nav-ul li a {
  color: #666666;
  font-size: 15px;
}

.nav-ul li a:hover {
  color: #11083D;
}

.quit {
  float: right;
  margin-right: 25px;
}

.quit a {
  font-weight: bold;
}

/*模块添加背景样式*/
.add {
  border-bottom: 3px solid #333;
}

.add a {
  font-weight: bold;
  color: #11083D !important;
}

/*模块公共部分固定*/
.fixed {
  width: 1080px;
  float: left;
}

/*侧边栏定位*/

.side-bar {
  float: left;
  width: 190px;
  min-height: 100%;
  text-align: center;
  font-size: 14px;
  background: #454c4c;
  color: #fff;
}

.side-bar div {

  height: 60px;
  width: 190px;
  line-height: 60px;
}

.side-bar a {
  color: #fff;
  display: inline-block;
  height: 60px;
  width: 190px;
}

.side-bar a:hover {
  background: #6b7373;
  width: 190px;
}

.side-bar h3 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.adda a {
  background: #6b7373;
  width: 190px;
}

/*页面按钮公共部分*/

.publics, .xiangqing {
  color: #fff;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  display: inline-block;

}

.publics {
  background: #e05e5e;
}

.pinglun {
  background: #1803A1;
}

.xiangqing {
  background: #454c4c;
}

.public a {
  background: #4C64A5;
  height: 25px;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;
  text-align: center;
}

.public a:hover {
  background: #6E82B6;
}

/*底部部分*/
.footer {
  color: #737373;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  width: 100%;
  background: #f5f8fb;
  position: fixed;
  bottom: 0;
  left: 0;
}

/*跳转样式*/

.tiaozhuan {
  width: 525px;
  height: 40px;
  float: right;
  padding-right: 70px;
  margin-top: 30px;
  margin-bottom: 25px;
  position: absolute;
  bottom: 30px;
  left: 50%;
}

.ystz {
  float: left;
  width: 110px;
}

.page-yeshu {
  float: left;
}

.page-yeshu span {
  display: inline-block;
  height: 25px;
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
  background: #454c4c;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.page-yeshu span:hover {
  color: #eee;
}

.page-yeshu strong {
  height: 25px;
  width: 25px;
  margin: 0 5px;
  text-align: center;
  line-height: 25px;
  display: inline-block;
  border: 1px solid #333;
  cursor: pointer;
}

.at_yeshu {
  color: #fff;
  background: #454c4c;
}

.zongyeshu {
  float: left;
  font-weight: bold;
  margin-top: 3px;
  font-size: 14px;
  margin-right: 3px;
}

.tiaozhuan-btn {
  float: left;
  color: #fff;
  height: 25px;
  width: 45px;
  text-align: center;
  line-height: 25px;
  background: #454c4c;
  cursor: pointer;
  font-weight: bold;
}

.tiaozhuan-btn:hover {
  color: #eee;
}

.tiaozhuanyeshu {
  height: 25px;
  width: 45px;
  border: 0;
  text-align: center;
  font-weight: bold;
  float: left;
  margin-right: 5px;
  background: #fff;
  -moz-box-shadow: 0px -1px 1px #838383;
  -webkit-box-shadow: 0px -1px 1px #838383;
  box-shadow: 0px -1px 1px #838383;
}

/*content内容*/
.mengmianguwang {
  width: 1280px;
  margin: 0 auto;
}

.section {
  width: 100%;
  padding-top: 150px;
}

/*猛料内容*/
.mengliao {
  width: 1080px;

}

.select {
  float: left;
  margin-left: 200px;
  padding-top: 20px;
}

.select div {
  font-weight: 600;
  font-size: 14px;
  color: #666;
  float: left;
  margin: 0 20px;
}

.select div select {
  width: 60px;
  font-weight: 600;
  font-size: 14px;
  color: #4aa3e6;
  border: 0;
}

/*搜索框*/
.search {
  margin-top: -68px;
  width: 100%;
  height: 60px;
  background: #fff;
}

.sousuo {
  float: right;
  height: 30px;
  width: 230px;
  border: 2px solid #454c4c;
  margin-top: 15px;
  margin-right: 20px;
}

.text {
  border: 0;
  outline: none;
  height: 28px;
  width: 168px;
  font-weight: bold;
  color: #454c4c;
  margin-left: 10px;
  margin-top: 2px;
}

.buttom {
  outline: none;
  color: #fff;
  height: 31px;
  width: 48px;
  border: none;
  position: relative;
  left: 1px;
  font-weight: bold;
  background: #454c4c;
  cursor: pointer;
}

.buttom:hover {
  color: #ddd;
}

/*猛料内容*/
.mengliaoguanli {
  float: left;
}

.mengliao_ul {
  padding-top: 20px;
  min-height: 400px;
}

.mengliao_nav, .putongyonghu_nav, .guanzhu_nav, .mengliaoxiangqing_nav, .lishi_nav {
  width: 1080px;
  height: 45px;
  font-size: 14px;
  font-weight: bold;
  line-height: 45px;
  background: #fff;
}

.mengliao_nav li {
  float: left;
  width: 160px;
  text-align: center;
}

.neirong {
  width: 280px !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mengliao_list {
  height: 40px;
  width: 1080px;
}

.mengliao_list li {
  float: left;
  height: 40px;
  line-height: 40px;
  width: 160px;
  text-align: center;
}

.mengliao_nav .jubao, .mengliao_list .jubao {
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mengliao_nav .guanlian, .mengliao_list .guanlian {
  width: 220px;
}

.ts {
  padding-top: 5px;
}

.lishi a {
  margin-left: 30px;
  font-size: 1rem;
}

.jinyan, .repeal {

  height: 35px;
  width: 130px;
  display: inline-block;
}

.jinyan {
  color: #e64444 !important;
  border: 1px solid #e64444;
}

.jinzhe {
  background: #e64444;
  color: #fff !important;
}

.repeal {
  color: #4eadfd !important;
  border: 1px solid #4eadfd;
}

.repealing {
  color: #fff !important;
  background: #4eadfd;
}

.jy {
  background: #fff;
  margin-top: 20px;
  padding-top: 50px;
  text-align: center;
  color: #666;
}

.jy span {
  font-size: 15px;
  font-weight: 600;
}

.jy .texts, .tishi .texts {
  height: 35px;
  width: 400px;
  margin-left: 5px;
  margin-right: 5px;
}

.jy .tijiao, .tishi .tijiao {
  height: 35px;
  width: 60px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  background: #3e9de5;
  font-size: 15px;
}

.jinyan .tijiao:hover {
  color: #595959;
}

.jb {
  margin-top: -90px;
}

/*猛料详情*/
.handle {
  margin-top: -72px;
  height: 60px;
  width: 1080px;
  background: #fff;
}

.handle ul {
  height: 80px;
}

.handle ul li {
  float: left;
  width: 269px;
  height: 35px;
  color: #666666;
  font-size: 15px;
  margin-top: 15px;
  line-height: 35px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #ededed;
}

.handle ul li strong {
  font-weight: 600;
  margin-left: 10px;
}

.handle ul li:last-child {
  border: 0;
}

.handle ul li a {
  color: #666666;
  font-weight: 600;
  font-size: 15px;
}

.fabuzhe_info {
  margin-top: 20px;
  overflow: hidden;
  padding-bottom: 55px;
}

.fabu_left {
  float: left;
  background: #fff;
  width: 690px;
  color: #666666;
  padding-left: 30px;
  padding-right: 30px;
}

.fabu_left h3 {
  height: 70px;
  line-height: 70px;
}

.xian {
  height: 1px;
  width: 690px;
  margin: 5px 0;
  background: #C3C3C3;
}

.fabuzhe_name, .fabuzhe_fans {
  height: 30px;
  font-size: 15;
  font-weight: 600;
  line-height: 30px;
}

.fabuzhe_fans {
  margin-bottom: 30px;
}

.fabuzhe_name p, .fabuzhe_fans p {
  float: left;
  width: 300px;
}

.time {
  color: #999;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mengliaoxiangqing_info {
  float: left;
  width: 650px;
}

.mengliaoxiangqing_info p {
  font-weight: 600;
  line-height: 20px;
}

.mengliaoxiangqing_info span {
  display: block;
  margin: 5px 0;
  text-align: center;
}

.mengliaoxiangqing_info img {
  max-width: 100%;
  max-height: 100%;
}

.friendlink {
  float: left;
  margin-left: 20px;
  width: 280px;
  padding: 15px;
  background: #fff;

}

.friendlink h4 {
  color: #666;
  margin-top: 10px;
  margin-bottom: 10px;
}

.friendlink a {
  margin-bottom: 5px;
  display: block;
  color: blue;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.friendlink a:hover {
  color: #0088FF;
  text-decoration: underline;
}

/*评论详情*/
.pinglun_info {
  width: 1040px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
}

.pl_xian {
  height: 1px;
  width: 1040px;
  margin: 5px 0;
  background: #C3C3C3;
}

.pinglun_info h3 {
  height: 70px;
  color: #666;
  line-height: 70px;
  margin-top: 20px;
}

.pinglun_list {
  padding-bottom: 5px;
  border-bottom: 1px solid #C3C3C3;
}

.pinglun_neirong {
  height: 100%;
}

.pinglun_right {
  float: right;
  margin-top: 10px;
}

.pinglun_left {
  float: left;
  margin-top: 20px;
}

.pinglun_left img {
  float: left;
}

.name {
  float: left;
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
}

.pinglun_left img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.pinglun_nr {
  width: 650px;
  margin: 0 auto;
  padding-top: 5px;
}

.sc {
  float: right;
  color: #0088FF;
  cursor: pointer;
}

.tishi {
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
  font-weight: 600;
  color: #666;
  font-size: 14px;
}

.tishi .texts {
  margin-bottom: 20px;
  margin-top: 20px;
}

.pinglun {
  background: #3e9de5;
  border-radius: 3px;
}

.pinglun a {
  color: #fff !important;
}

/*点赞*/
.dianzan_list {
  width: 1040px;
  background: #fff;
  min-height: 400px;
}

.dianzan_gs {
  float: left;
  width: 120px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 13px;
  font-weight: 600;
  color: #666;
  margin-bottom: 5px;
  text-align: center;
}

.dianzan_gs img {
  width: 80px;
  border-radius: 50%;
}

.dz_fanhui ul {
  margin-left: 540px;
}

.dz_fanhui ul li {
  float: left;
  width: 269px;
  height: 35px;
  color: #666666;
  font-size: 15px;
  margin-top: 15px;
  line-height: 35px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;

}

/*普通用户*/
.putongyonghu_nav li, .putongyonghu_list li {
  float: left;
  width: 120px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.putongyonghu_list {
  height: 40px;
  line-height: 40px;
}

.putongyonghu_nav .nickname, .putongyonghu_list .nickname {
  width: 240px;
}

/*普通用户详情*/
.pu_xiangqig {
  color: #666;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.pu_xiangqig h3 {
  height: 70px;
  line-height: 70px;
}

.yonghuxiangqing_info {
  padding-top: 10px;
}

.head {
  float: left;
  width: 130px;
}

.head img {
  width: 130px;
  height: 130px;
  border-radius: 5px;
}

.names {
  font-weight: bold;
}

.head_info {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  color: #666;
  font-weight: bold;
}

.head_info .head_list {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}

.head_list:nth-of-type(1) {
  background: #f9f9f9;
}

.head_list:nth-of-type(2) {
  background: #fff;
}

.head_info .head_list p {
  float: left;
  width: 290px;
}

.head_lists {
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  background: #f9f9f9;
}

.head_lists p {
  float: left;
  width: 290px;
}

.tas {
  padding-top: 30px;
}

.ta {
  width: 1040px;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  background: #F3F3F3;
  border-top: 1px solid #ededed;
}

.ta:nth-of-type(1) {
  background: #f9f9f9;
}

.ta:nth-of-type(2) {
  background: #fff;
  border-bottom: 1px solid #ededed;
}

.gz {
  float: left;
  margin-left: 5px;
}

.rs {
  float: right;
  margin-right: 5px;
}

.head_info {
  float: left;
}

.pt {
  margin-top: -72px;
}

/*他的关注*/
.guanzhu_info, .menglaioxiangqing_info {
  margin-top: 20px;
  min-height: 400px;
}

.guanzhu_list {
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.guanzhu_nav li, .guanzhu_list li {
  float: left;
  height: 40px;
  width: 270px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mengliaoxiangqing_list {
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.mengliaoxiangqing_nav li, .mengliaoxiangqing_list li {
  float: left;
  height: 40px;
  width: 200px;
  text-align: center;
}

.ml_neirong {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 280px !important;
}

/*推送*/
.margin {
  margin-left: 80px;
}

.tuisong_sousuo {
  display: none;
}

.bor {
  margin-left: 20px;
  border: 1px solid #666;
  width: 1040px;
  margin-top: 20px;
}

.bor ul {
  width: 1040px;
}

.bor ul li {
  width: 173px !important;
}

.lishi_info {
  margin-top: 30px;
  min-height: 400px;
}

.lishi_list {
  height: 40px;
}

.lishi_nav li, .lishi_list li {
  float: left;
  width: 360px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lishi_list li {
  color: #666;
}

.pass {
  margin-top: -100px;
  text-align: center;

}

.pass div {
  margin-top: 30px;
}

.pass div span {
  color: 14px;
  color: #666;
  font-weight: 600;
}

.pass .form {
  height: 350px;
  padding-top: 50px;
}

.pass .mm {
  height: 30px;
  width: 300px;
}

.btn {
  margin-top: 50px;
  height: 30px;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  background: #3e9de5;
}

/*修改关联*/
.xg {
  background: #fff;
  color: #666;
  padding-left: 20px;
}

.xiugai {
  margin-top: 10px;
}

.xiugai_nicheng {
  font-size: 16px;
  font-weight: bold;
  float: left;
}

.xiugai_guanlian {
  float: Left;
  font-size: 14px;
  font-family: "微软雅黑";
  margin-left: 30px;
  font-weight: 600;
}

.xinzeng {
  padding-top: 10px;
  color: red;
  font-size: 16px;
  font-weight: bold;
}

.soso {
  margin-top: 15px;
}

.soso .sear {
  height: 40px;
  width: 280px;
}

.soso .soso_ok {
  border: 0;
  height: 40px;
  width: 80px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background: #3E9DE5;
  cursor: pointer;
}

.soso_nr {
  margin-top: 30px;
  width: 1040px;
}

.soso_info {
  width: 1040px;
  line-height: 40px;
  border: 1px solid #D8D8D8;
  text-align: center;
}

.soso_nav {
  height: 40px;
  color: #21C0C0;
  border-bottom: 1px solid #D8D8D8;
}

.soso_list {
  height: 40px;
}

.soso_list:last-child {
  border-bottom: 0;
}

.soso_nav li, .soso_list li {
  float: left;
  width: 130px;
}

.nikname {
  width: 260px !important;
}

.page {
  margin-top: 20px;
  float: right;
}





























